$primary-color: #ffffff;

@font-face {
    font-family: 'Inter Regular';
    src: url('./assets/font/Google-Sans-Font-master/GoogleSans-Medium.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('./assets/font/Google-Sans-Font-master/GoogleSans-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: $primary-color;
    font-family: 'Inter Regular';
}


@keyframes animeText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content {
    .pagetitle {
        font-family: 'Inter Bold';
        font-size: 22px;
        margin-bottom: 30px;
        color: #000000;
    }

    color: #333333;
    font-size: 17px;
    line-height: 1.6;

    img {
        margin: 50px 0;
        max-width: 700px;
    }

    p {
        margin-bottom: 10px;
    }
}
.close {
        background: #d7d7d7;
        /* padding: 10px; */
        display: inline-block;
        color: #333333;
        border-radius: px;
        padding: 5px 20px;
        font-size: 16px;
        margin-bottom: 50px;
}