form {
    input {
        border: 1px solid #000000;
        background-color: #ffffff;
        padding: 12px 25px;
        color: rgb(61, 61, 61);
        outline: none;
        height: 40px;
        width: 47%;
        font-weight: 400;
    }

    .size {
        min-width: 40%;
        transition: 1.2s ease;

    }
}